.mainsection {
    align-items: end;
    padding: 0px;
}

.maindropdown:before {
    content: none !important;
}

.maindropdown {
    text-transform: none !important;
    cursor: pointer;
}

.alert-container {
    height: 60vh;
}

.alert-container,
.alert-container h1,
.alert-container h2,
.alert-container h3,
.alert-container h4,
.alert-container h5,
.alert-container h6 {
    font-weight: bold;
}

.span-weight-currency {
    font-size: 20px;
}

.span-weight-gold {
    font-size: 18px;
}