.table-container {
    top: 40px;
    opacity: 0.8;
    left: 15px;
}

.table tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table tbody {
    display: block;
    height: 470px;
    overflow-y: auto;
    width: 100%;
}

.user-thead-th1 {
    border-radius: 20px 0 0 0;
    width: 25px;
    background-color: #81be6e !important;
}

.user-thead-th2,
.user-thead-th3,
.user-thead-th4,
.user-thead-th5,
.user-thead-th6,
.user-thead-th7 {
    background-color: #81be6e !important;
}

.user-thead-th8 {
    border-radius: 0 20px 0 0;
    background-color: #81be6e !important;
}

.table-button {
    padding: 5px 15px !important;
    background-color: #0d6efd !important;
}

.table-button:hover {
    background-color: black !important;
}

.table-icons1 {
    position: relative;
    top: -1px;
}

.table-icons2 {
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    top: -4px;
    color: yellow;
}

.table-icons3 {
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    top: -4px;
    color: red;
}

.user-tbody-td1 {
    width: 25px;
}

.table tbody span {
    position: relative;
    top: 2px
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content-user {
    background: #181a1b;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    max-width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white
}

.modal-content-delete {
    background: #181a1b;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-close {
    cursor: pointer;
    border: none;
    background: white;
    font-size: 20px;
}

.buton-modal {
    padding: 7px 15px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
}

.invalid-feedback {
    position: absolute;
    font-size: 14px;
    color: red;
}

.form-group {
    position: relative;
    margin-bottom: 40px;
}